head
{
width: 65px;
margin-left: auto;
margin-right: auto;
text-align: center;

}
h1{
    color: black;
    margin-left: auto;
margin-right: auto;
text-align: center;
}
div{
    
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    border-radius: 15px, 15px;
    border-color: black;
    

}
article{
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 5px;
    background-color: beige;

}
body
{
color: royalblue
}
footer
{
    font-size: 10px;
   font-style: italic;
}